@{
    ViewBag.Title = "主页";
}

<div class="row">
    <div class="hero-unit">
        <h1>码农的奋斗史<small>真TMD是一部血泪史啊</small></h1>
        <p>你为什么不能成功，是因为你没有下定决心；你为什么还不能成功，是因为你还没有下定决心；你为什么直到现在还没有成功，
            是因为你直到现在还没有下定决心。只要你下定真正的决心了，你就开始迈向成功了。所有的成功都来自你做出的一个决定，因为
            决定会让你行动。在做这个决定之前应该先考虑自己究竟想要得到什么样的结果？可是我们大家都不太清楚自己想要的结果，所以
            做出的决定就不是真正的决定。
        </p>
    </div>
</div>
<div class="row">
    <div class="span3">
        <img src="@Url.Content("~/Images/程序猿2.JPG")" alt="不要让孩子做程序猿啊！"/>
        <img src="@Url.Content("~/Images/程序猿1.JPG")" alt="下辈子不要做程序猿啊！"/>
    </div>
    <div class="span9">
        <div class="well">
            <h2>苦逼程序猿的春天啊你在哪里？</h2>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>级别</th>
                    <th>说明</th>
                </tr>
                <tr class="error">
                    <td><code>码畜</code></td>
                    <td>年入低于3万（刚毕业的，租房，傻乐）</td>
                </tr>
                <tr>
                    <td><code>码奴</code></td>
                    <td>年入3万到6万（工作一两年，租房，混日子）</td>
                </tr>
                <tr class="info">
                    <td><code>码农</code></td>
                    <td>年入6万到10万（工作三四年，租房，继续混日子）</td>
                </tr>
                <tr>
                    <td><code>IT民工</code></td>
                    <td>年入10万（经理级别，基本无房，学会装波一，生活压力大）</td>
                </tr>
                <tr>
                    <td><code>IT工程师</code></td>
                    <td>年入20万（高级经理级别，有房贷，生活压力大）</td>
                </tr>
                <tr>
                    <td><code>IT人才</code></td>
                    <td>年入50万（各IT公司总监级别人物，有房有车，生活压力相对较小）</td>
                </tr>
                <tr>
                    <td><code>IT精英</code></td>
                    <td>年入百万（各IT公司副总裁级别人物，包括COO、CTO等，大多为职业经理人，赚够钱就跑。）</td>
                </tr>
                <tr>
                    <td><code>IT大哥</code></td>
                    <td>年入千万（级别次于以上几位大佬的公司老板，不缺钱，普遍对上一条里的人物羡慕嫉妒恨。）</td>
                </tr>
                <tr class="success">
                    <td><code>IT领袖</code></td>
                    <td>年入过亿（例如任正非、马化腾、李彦宏、丁磊、马云等，包括期权股票以及投资理财等收入。）</td>
                </tr>
            </table>
        </div>
            
    </div>
</div>