@{
    ViewBag.Title = "供应链服务器列表";
}
@{
    var phoneBooks = (Dictionary<string, string>)ViewData["Servers"];
}

<div class="subnav subnav-fixed">
    <ul class="nav nav-pills">
        @foreach(var sectionid in phoneBooks.Keys)
        {
            <li><a href="#@sectionid">@Html.Raw(sectionid)</a></li>
        }
    </ul>
</div>

<div class="row span12">
    @foreach(var phone in phoneBooks.Values)
    {
        @Html.Raw(phone)
    }
</div>


